@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #FFF5E3;
}

html, body {
  height: 100%;
}

body {
  background: var(--bg);
}

/* Better tap targets */
button, a {
  -webkit-tap-highlight-color: transparent;
}
